<% title "Devices & Sessions" %>

<%= tag.h1 "Devices & Sessions", class: page_title_classes.render %>

<div id="sessions" class="mt-8">
  <% @sessions.each do |session| %>
    <div class="flex items-center justify-between">
      <div id="<%= dom_id session %>">
        <p>
          <strong>User Agent:</strong>
          <%= session.user_agent %>
        </p>

        <p>
          <strong>Ip Address:</strong>
          <%= session.ip_address %>
        </p>

        <p>
          <strong>Created at:</strong>
          <%= session.created_at %>
        </p>
      </div>
      <%= button_to "Log out", session, method: :delete, class: button_classes.render(style: :secondary) %>
    </div>
  <% end %>
</div>

<br>

<div>
  <%= link_to "Back", root_path %>
</div>
