<% title "Change email" %>

<div class="max-w-md mx-auto">
  <div class="mb-8">
    <% if Current.user.verified? %>
      <%= tag.h1 "Change your email", class: page_title_classes.render %>
    <% else %>
      <%= tag.h1 "Verify your email", class: page_title_classes.render %>
      <p class="mt-2 text-sm text-gray-600">We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
      <p class="mt-2 text-sm text-gray-600"><%= button_to "Re-send verification email", identity_email_verification_path %></p>
    <% end %>
  </div>

  <%= form_with(url: identity_email_path, method: :patch) do |form| %>
    <%= render "shared/form_errors", resource: @user %>

    <div class="mb-4">
      <%= form.label :email, "New email", class: label_classes.render %>
      <div class="mt-1"><%= form.email_field :email, class: input_classes.render %></div>
    </div>

    <div>
      <%= form.submit "Save changes", class: button_classes.render %>
    </div>
  <% end %>

  <br>

  <div>
    <%= link_to "Back", root_path %>
  </div>
</div>
