<% title "Change your password" %>

<div class="max-w-md mx-auto">
  <div class="mb-8">
    <%= tag.h1 "Change your password", class: page_title_classes.render %>
  </div>

  <%= form_with(url: password_path, method: :patch) do |form| %>
    <%= render "shared/form_errors", resource: @user %>

    <div class="mb-4">
      <%= form.label :current_password, class: label_classes.render %>
      <div class="mt-1"><%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: input_classes.render %></div>
    </div>

    <div class="mb-4">
      <%= form.label :password, "New password", class: label_classes.render %>
      <div class="mt-1"><%= form.password_field :password, required: true, autocomplete: "new-password", class: input_classes.render %></div>
      <%= tag.span "8 characters minimum.", class: hint_classes.render %>
    </div>

    <div class="mb-4">
      <%= form.label :password_confirmation, "Confirm new password", class: label_classes.render %>
      <div class="mt-1"><%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: input_classes.render %></div>
    </div>

    <div>
      <%= form.submit "Save changes", class: button_classes.render %>
    </div>
  <% end %>

  <br>

  <div>
    <%= link_to "Back", root_path %>
  </div>
</div>
