<div id="<%= dom_id post %>">
  <% if action_name != "show" %>
    <%= page_title(link_to(post.name, post, class: "hover:underline")) %>
  <% else %>
    <%= page_title(post.name) %>
  <% end %>

  <p class="my-5">
    Posted by
    <strong class="font-medium">
      <%= post.user.name %>
    </strong>
  </p>

  <div class="prose-lg lg:prose-xl">
    <%= simple_format post.body %>
  </div>
</div>
