<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/partials/head" %>
  </head>

  <body class="text-gray-600">
    <%= render "shared/flash_alerts" %>

    <header class="bg-gray-800">
      <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
        <div class="flex w-full items-center justify-between border-b border-white/10 py-6 lg:border-none">
          <div class="flex items-center">
            <%= link_to root_path do %>
              <span class="sr-only">Rapid Ruby</span>
              <%= image_tag "rapid-ruby-stamp-dark.svg", alt: "Rapid Ruby", class: "h-10 w-auto" %>
            <% end %>
            <div class="ml-10 hidden space-x-8 lg:block">
              <%= link_to "Home", root_path, class: "text-base font-medium text-gray-200 hover:text-white" %>
              <%= link_to "Lessons", lessons_path, class: "text-base font-medium text-gray-200 hover:text-white" %>
            </div>
          </div>
          <div class="ml-10 space-x-4">
            <% if user_signed_in? %>
              <%= render UserDropdownComponent.new(current_user: Current.user, current_session: Current.session) %>
            <% else %>
              <%= link_to "Login", sign_in_path, class: "inline-block rounded-md text-sm sm:text-base font-medium text-gray-200 hover:text-white hover:underline" %>
              <%= link_to "Sign up", sign_up_path, class: "inline-block rounded-md border border-transparent bg-red-500 py-2 px-4 text-sm sm:text-base font-medium text-white hover:bg-opacity-75" %>
            <% end %>
          </div>
        </div>
        <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
          <%= link_to "Home", root_path, class: "text-base font-medium text-gray-200 hover:text-white" %>
          <%= link_to "Lessons", lessons_path, class: "text-base font-medium text-gray-200 hover:text-white" %>
        </div>
      </nav>
    </header>

    <main class="max-w-7xl mx-auto mt-10 lg:mt-16 px-6 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
